# Project exclude paths
/.gradle/

.gradle
.idea
/build/classes/java/main/com/aws/springboot/Application.class
/build/resources/main/application.properties
/build/reports/tests/test/css/base-style.css
/build/classes/java/main/com/aws/springboot/domain/posts/BaseTimeEntity.class
/src/main/java/com/aws/springboot/domain/posts/BaseTimeEntity.java
/build/reports/tests/test/packages/com.aws.springboot.web.html
/build/reports/tests/test/classes/com.aws.springboot.web.PostsApiControllerTest.html
/build/classes/java/main/com/aws/springboot/web/HelloController.class
/build/classes/java/test/com/aws/springboot/web/HelloControllerTest.class
/build/classes/java/main/com/aws/springboot/web/dto/HelloResponseDto.class
/build/classes/java/test/com/aws/springboot/web/dto/HelloResponseDtoTest.class
/build/reports/tests/test/index.html
/build/tmp/bootJar/MANIFEST.MF
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/classes/java/main/com/aws/springboot/domain/posts/Posts$PostsBuilder.class
/build/classes/java/main/com/aws/springboot/domain/posts/Posts.class
/build/classes/java/main/com/aws/springboot/web/PostsApiController.class
/build/classes/java/test/com/aws/springboot/web/PostsApiControllerTest.class
/build/classes/java/main/com/aws/springboot/domain/posts/PostsRepository.class
/build/classes/java/test/com/aws/springboot/web/domain/posts/PostsRepositoryTest.class
/build/classes/java/main/com/aws/springboot/web/dto/PostsResponseDto.class
/build/classes/java/main/com/aws/springboot/web/dto/PostsSaveRequestDto$PostsSaveRequestDtoBuilder.class
/build/classes/java/main/com/aws/springboot/web/dto/PostsSaveRequestDto.class
/build/classes/java/main/com/aws/springboot/service/PostsService.class
/build/classes/java/main/com/aws/springboot/web/dto/PostsUpdateRequestDto$PostsUpdateRequestDtoBuilder.class
/build/classes/java/main/com/aws/springboot/web/dto/PostsUpdateRequestDto.class
/build/reports/tests/test/js/report.js
/build/test-results/test/binary/results.bin
/build/libs/SpringBoot_Aws-1.0.4-SNAPSHOT-20211222232341.jar
/build/reports/tests/test/css/style.css
/build/test-results/test/TEST-com.aws.springboot.web.PostsApiControllerTest.xml
/build/reports/tests/test/classes/com.aws.springboot.web.IndexControllerTest.html
/build/resources/main/templates/layout/footer.mustache
/build/resources/main/templates/layout/header.mustache
/build/resources/main/static/js/app/index.js
/build/resources/main/templates/index.mustache
/build/classes/java/main/com/aws/springboot/web/IndexController.class
/build/classes/java/test/com/aws/springboot/web/IndexControllerTest.class
/build/resources/main/templates/posts-save.mustache
/build/resources/main/templates/posts-update.mustache
/build/classes/java/main/com/aws/springboot/web/dto/PostsListResponseDto.class
/build/libs/SpringBoot_Aws-1.0.4-SNAPSHOT-20220101234751.jar
/build/test-results/test/TEST-com.aws.springboot.web.IndexControllerTest.xml
